 .content {
 	color : black;
 }


 #boxScore {
 	height: 80px;
 	/*width: 100px;*/
 	background-color: blue;
 	color: white;
 	font-family: "Arial";
 	font-size: 72px;
 	text-align: center;
 }


 #targetScore {
 	height: 80px;
 	/*width: 100px;*/
 	background-color: hotpink;
 	color: white;
 	font-family: "Arial";
 	font-size: 72px;
 	text-align: center;
 }

 #tally {
 	clear: all;
 	margin: 40px;
 	font-family: "Arial";
 	font-size: 36px;
 }

 #reset {
float: left;
 	margin: 40px;
 	font-family: "Arial";
 	font-size: 36px;
 }


 .buttons {
 	position: relative;
 }



 .crystalButton{
 	float: left;
 	margin: 20px;
 	height: 100px;
 	width: 200px;
 	position: relative;
 	top: 20px;
 	background-color: blue;
 	color: white;
 	font-family: "Arial";
 	font-size: 36px;
 	text-align: center;
 	background-image: url("../images/crystal-latticeA.jpg");
 	border-radius: 40px;


 }